@charset "UTF-8";


@font-face {
  font-family: "bankmy";
  src:url("fonts/bankmy.eot?v=1.0.4");
  src:url("fonts/bankmy.eot?#iefix?v=1.0.4") format("embedded-opentype"),
    url("fonts/bankmy.woff?v=1.0.4") format("woff"),
    url("fonts/bankmy.ttf?v=1.0.4") format("truetype"),
    url("fonts/bankmy.svg?bankmy?v=1.0.4") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^=" icon-"], [class*=" icon-"] {
  font-family: 'bankmy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ambank:before {
  content: "a";
}
.icon-bimb:before {
  content: "b";
}
.icon-cimb:before {
  content: "c";
}
.icon-fpx:before {
  content: "d";
}
.icon-hongleong:before {
  content: "e";
}
.icon-ipay88:before {
  content: "f";
}
.icon-m2u:before {
  content: "g";
}
.icon-mastercard:before {
  content: "h";
}
.icon-meps:before {
  content: "i";
}
.icon-molpay:before {
  content: "k";
}
.icon-paypal:before {
  content: "l";
}
.icon-pbebank:before {
  content: "m";
}
.icon-visa:before {
  content: "n";
}
.icon-rhb:before {
  content: "o";
}
.icon-mobile-money:before {
  content: "j";
}
.icon-affinbank:before {
  content: "p";
}

/* ----------------- Icon Preview -----------------*/

.icon {

  display: inline-block;
  font: normal normal normal 14px/1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----------------- Font Sizing Class -----------------*/

.besar {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.besar-1halfx {
  font-size: 1.5em;
}

.besar-2x {
  font-size: 2em;
}

.besar-2halfx {
  font-size: 2.5em;
}

.besar-3x {
  font-size: 3em;
}

.besar-3halfx {
  font-size: 3.5em;
}

.besar-4x {
  font-size: 4em;
}

.besar-4halfx {
  font-size: 4.5em;
}

.besar-5x {
  font-size: 5em;
}
